.gpt3__Possibility {
  display: flex;
  flex-direction: row;
}
.gpt3__Possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
}

.gpt3__Possibility-image img {
  width: 100%;
  height: 100%;
}

.gpt3__Possibility-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.gpt3__Possibility-content h4 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #71efff;
}
.gpt3__Possibility-content h1 {
}
.gpt3__Possibility-content p {
}
